<div data-role="view" id="imageFilterForm" data-layout="imagefilter" data-init="app.viewImageListService.filterinit" data-model="app.viewImageListService.imageModel">
    <div class="imagePageTitle">Image Filters</div>
    <form class="filter-form-background">
        <div id="coolerFilterTitle" class="form-field-title">Date</div>
        <label class="field">From</label>
        <input type="date" id="fromDate" class="fieldtext" name="From" value="2011-01-13">
        <br>
        <label class="field">To</label>
        <input type="date" id="toDate" class="fieldTotext" name="To" value="2011-01-13">
        <br>
        <div id="coolerFilterTitle" class="form-field-title">Processed</div>
        <label class="field">Processed</label>
        <select class="selectText" id="processedVal">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="all">All</option>
        </select>
        <div id="coolerFilterTitle" class="form-field-title">Purity</div>
        <label class="field">From</label>
        <input type="text" id="purityFrom" class="fieldtext">
        <br>
        <label class="field">To</label>
        <input type="text" id="purityTo" class="fieldTotext">
        <div id="coolerFilterTitle" class="form-field-title">Stock</div>
        <label class="field">From</label>
        <input type="text" id="stockFrom" class="fieldtext">
        <br>
        <label class="field">To</label>
        <input type="text" id="stockTo" class="fieldTotext">
        <div id="coolerFilterTitle" class="form-field-title">Foreign Product</div>
        <label class="field">From</label>
        <input type="text" id="foreginFrom" class="fieldtext">
        <br>
        <label class="field">To</label>
        <input type="text" id="foreginTo" class="fieldTotext">
        <br>
        <div class="btnApplyDiv">
            <a id="filterBtn" class="applyBtn" data-role="button">Apply</a>
        </div>
    </form>
</div>