<div class="login-page">
    <div class="login-form">
        <br>
        <input class="inputs" type="text" placeholder="User Name">        
        <br>
        <input class="inputs" type="password" placeholder="Password">
        <br>
        <div class="settings-image">
           <a><img src="styles/images/login_setting.png"></a> 
            <a class="settings-text" style="color:red" href='views/Settings.html?' data-role="listview-link">settings</a>
            <a class="settings-text" href="#" style="color:red">Change Your Password?</a>
        </div>
         <div class="loginBtn">
           <a href='views/LocationList.html?' data-role="listview-link"><img src="styles/images/login_normal.png" style="PADDING-TOP: 5px" height="50" width="200"></a>          
        </div>
    </div>   
</div>