<div data-role="view" data-title="Summary List" data-layout="main" data-init="app.Summary.init" data-model="app.Summary">
    <ul data-role="listview" data-style="inset" data-template="summaryTemplate" data-bind="source: summaryList"></ul>
</div>
<div data-role="layout" data-id="main">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" class="nav-button" data-align="left" data-icon="drawer-button"></a>
        </div>
    </div>
    <!-- application views will be rendered here -->
</div>
<!-- application drawer and contents -->
<div data-role="drawer" id="appDrawer" style="width: 270px" data-title="Navigation">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview">
        <li>Scan</li>
        <li>Debug</li>
        <li>Switch Language</li>
        <!--<a href="views/switchLanguage.html">Switch Language</a>-->
        <li>Switch to Test Server</li>
    </ul>
</div>
<script type="text/x-kendo-template" id="summaryTemplate">
    <div id="something" data-role="touch">
        <table style="width:100%">
            <tr>
                <td>${SerialNumber}</td>
            </tr>
            <tr>
                <td>Stock:${Stock}</td>
            </tr>
            <tr>
                <td>Humidity:${Humidity}</td>
            </tr>
            <tr>
                <td>LightIntensity:${LightIntensity}</td>
            </tr>
            <tr>
                <td>Temperature:${Temperature}</td>
            </tr>
        </table>
    </div>
</script>