<div data-role="view" data-title="Summary Detail" data-layout="main" data-init="app.SummaryDetail.init" data-model="app.SummaryDetail">
    <ul id="detail-listview"></ul>
    <div id="fusionchartsTitle" class="km-group-title">Product Distribution</div>
    <div id="fusioncharts"></div>
    <div id="distributionData"></div>
    <div id="coolerImageTitle" class="km-group-title"></div>
    <img id="cooler_image" />
</div>
<div data-role="layout" data-id="main">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#right-drawer" data-align="right" class="right-drawer-view"></a>
        </div>
    </div>
    <!-- application views will be rendered here -->
</div>
<!-- application drawer and contents -->
<div data-role="drawer" id="right-drawer" style="width: 100px" data-title="Navigation" data-position="right">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview">
        <li>View Data</li>
        <li>
        <a href="views/coolerImageList.html" data-role="listview-link">View Pictures</a>
        </li>       
        <li>Download Data</li>
        <!--<a href="views/switchLanguage.html">Switch Language</a>-->
        <li>Take Picture</li>
    </ul>
</div>