<div data-role="view" id="imageFilterForm" data-layout="imagefilter" data-init="app.viewImageListService.filterinit" data-model="app.viewImageListService.imageModel">
    <div class="imagePageTitle">Image Filters</div>
    <form class="filter-form-background">
        <table class="form-fields">
            <tr><td colspan="2"><div class="form-field-title">Date</div> </td></tr>
            <tr><td>
                <table>
                    <tr><td><label class="field">From</label> </td>
                    <td><input type="date" id="fromDate" name="From" ></td>
                    </tr>
                    <tr><td>  <label class="field">To</label> </td>
                    <td><input type="date" id="toDate" name="To" ></td>
                    </tr>
                </table>               
             </td></tr>
            
             <tr><td colspan="2"><div class="form-field-title">Processed</div> </td></tr>
            <tr><td>
                <table>
                    <tr><td><label class="field">Processed</label></td>
                    <td>  <select id="processedVal">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="all">All</option>
                    </select></td>
                    </tr>
                </table>               
             </td></tr>
            <tr><td colspan="2"><div class="form-field-title">Purity</div> </td></tr>
            <tr><td>
                <table>
                    <tr><td>  <label class="field">From</label> </td>
                    <td><input type="number" id="purityFrom"></td>
                    </tr>
                    <tr><td>  <label class="field">To</label> </td>
                    <td> <input type="number" id="purityTo" ></td>
                    </tr>
                </table>               
             </td></tr>
            <tr><td colspan="2"><div class="form-field-title">Stock</div> </td></tr>
            <tr><td>
                <table>
                    <tr><td>  <label class="field">From</label> </td>
                    <td><input type="number" id="stockFrom" ></td>
                    </tr>
                    <tr><td>  <label class="field">To</label> </td>
                    <td> <input type="number" id="stockTo"></td>
                    </tr>
                </table>               
             </td></tr>
            <tr><td colspan="2"><div class="form-field-title">Foreign Product</div> </td></tr>
            <tr><td>
                <table>
                    <tr><td>  <label class="field">From</label> </td>
                    <td><input type="number" id="foreginFrom"></td>
                    </tr>
                    <tr><td>  <label class="field">To</label> </td>
                    <td> <input type="number" id="foreginTo"></td>
                    </tr>
                </table>               
             </td></tr>
             <tr><td colspan="2"> <div class="btnApplyDiv">
            <a id="filterBtn" class="applyBtn" data-role="button">Apply</a>
            </div></td></tr>
        </table>          
       
       
    </form>
</div>