<div data-role="splitview" data-style="vertical">
    <div data-role="pane" style="flex: 0.1 135px; flex-grow: 0.1; flex-basis: 135px;" data-layout="debugDeviceDataLayout">
        <div data-role="view" data-stretch="true" data-model="app.DebugDeviceService.debugModel" data-show="app.DebugDeviceService.show">
            <ul data-role="listview" data-template="deviceStatusTemplate" data-bind="source: debugSelectedDataSource"></ul>
        </div>
        <div data-role="layout" data-id="debugDeviceDataLayout">
            <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title">Debug Device</span>
                    <a data-role="button" data-rel="drawer" href="#debug-list-menu" data-align="right" class="right-drawer-view"></a>
                </div>
            </div>
            <!-- application views will be rendered here -->
        </div>
    </div>
    <div data-role="pane" style="flex: 0.01 38px; flex-grow: 0.01; flex-basis: 38px;">
        <div data-role="view">
            <div data-role="toolbar" style="background-color: #2D0500; color:white;font-size:12px;text-align: left; padding-right: .50em;" data-resizable="false">
                <a data-rel="drawer" data-icon="action" data-click="app.DebugDeviceService.onFetchDataButtonClick" data-role="button">Fetch Data</a>
                <a data-rel="drawer" data-icon="delete" data-click="app.DebugDeviceService.onDisconnectButtonClick" data-role="button">Disconnect</a>
                <a data-icon="search" data-rel="modalview" style="float: right" href="#scanningList" data-role="button">Scan</a>
            </div>
            <ul id="responseWindow" style="padding-left: 20px;" />
        </div>
    </div>
    <div data-role="pane">
        <div data-role="view" data-model="app.DebugDeviceService.debugModel">
            <ul data-role="listview" data-template="fetchDataTemplate" data-bind="source: debugDeviceListDataSource"></ul>
        </div>
    </div>
</div>
<div data-role="modalview" style="width:90%;height:85%" id="scanningList" data-title="Scanning List" data-open="app.DebugDeviceService.modelShow" data-model="app.DebugDeviceService.debugModel">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" class="debugBtn" data-align="left" data-click="app.DebugDeviceService.closeScanWindow">Close</a>
            <span data-role="view-title" data-align="center"></span>
            <a data-role="button" class="debugBtn" data-align="right" data-icon="ble-loading" data-click="app.DebugDeviceService.scanButtonClick">Scan</a>
        </div>
    </header>
    <ul data-role="listview" data-click="app.DebugDeviceService.scanListSelection" data-template="scanStatusTemplate" data-bind="source: debugDeviceDataSource"></ul>
</div>
<script type="text/x-kendo-template" id="scanStatusTemplate">
    <a data-role="listview-link">
        <table style="width:100%">
            <tr>
                <td>Device Name: </td>
                <td>${MacAddress}</td>
            </tr>
            <tr>
                <td>UUID:</td>
                <td>${ManufacturerUUID}</td>
            </tr>
            <tr>
                <td>Major: ${Major}</td>
                <td>Minor: ${Minor}</td>
            </tr>
            <tr>
                <td>RSSI:</td>
                <td>${Rssi}</td>
            </tr>
        </table>
    </a>
</script>
<div data-role="drawer" id="debug-list-menu" data-model="app.DebugDeviceService.debugModel" style="width: 60%" data-title="Navigation" data-position="right" data-swipe-to-open=false>
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul class="navmenu" data-bind="source: debugMenuDataSource" data-template="debugMenuTemplate" data-click="app.DebugDeviceService.menuClick" data-role="listview"></ul>
</div>
<script type="text/x-kendo-template" id="debugMenuTemplate">
    <a data-role="listview-link">${Title}</a>  
</script>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="deviceStatusTemplate">
    <div class="device-name-title">
        <table style="width:100%">
            <tr>
                <td>Device Name: </td>
                <td>${MacAddress}</td>
            </tr>
            <tr>
                <td>UUID:</td>
                <td>${ManufacturerUUID}</td>
            </tr>
            <tr>
                <td>Major: ${Major}</td>
                <td>Minor: ${Minor}</td>
            </tr>
            <tr>
                <td>RSSI:</td>
                <td>${Rssi}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>
                    <div>#if (IsConnected) {#
                        <div>Connected</div>#}else{#
                        <div>Disconnected</div>#}#</div>
                </td>
            </tr>
        </table>
    </div>
</script>
<script type="text/x-kendo-template" id="fetchDataTemplate">
    <div class="device-data-list-container">
        <table style="width:100%">
            <tr>
                <td class="device-data-title">Id: ${EventId}</td>
                <td>#= app.Utility.renderDeviceData(data)#</td>
            </tr>
        </table>
    </div>
</script>