<div data-role="view" data-title="Scan Device" data-layout="main" data-init="app.DebugDeviceService.debugInit">
    <ul id="debuglistview" data-role="listview" data-template="deviceStatusTemplate"></ul>
    <div data-role="toolbar" data-resizable="false">
        <a class="nav-button" data-rel="drawer" data-icon="action" data-role="button">Fetch Data</a>
        <a class="nav-button" data-rel="drawer" data-icon="delete" data-role="button">Disconnect</a>
        <a class="nav-button" data-icon="search" data-rel="modalview" data-align="right" href="#scanningList" data-role="button">Scan</a>
    </div>
</div>
<div data-role="layout" data-id="main">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-rel="drawer" href="#debug-list-menu" data-align="right" class="right-drawer-view"></a>
        </div>
    </div>
    <!-- application views will be rendered here -->
</div>
<div data-role="modalview" style="width:90%;height:85%" data-modal="false" id="scanningList" data-title="Scanning List" data-open="app.DebugDeviceService.show" data-model="app.DebugDeviceService.debugModel">
    <header data-role="header">
        <div data-role="navbar">
            <a data-role="button" class="debugBtn" data-align="left" data-click="app.DebugDeviceService.closeScanWindow">Close</a>
            <span data-role="view-title" data-align="center"></span>
            <a data-role="button" class="debugBtn" data-align="right" data-icon="ble-loading" data-click="app.DebugDeviceService.scanButtonClick">Scan</a>
        </div>
    </header>
    <ul data-role="listview" data-click="app.DebugDeviceService.scanListSelection" data-template="scanStatusTemplate" id="scanList" data-init="app.bluetoothService.bluetooth.init" data-bind="source: DebugDeviceDataSource"></ul>
</div>
<script type="text/x-kendo-template" id="scanStatusTemplate">    
         <a data-role="listview-link"> 
            <table style="width:100%">
                <tr>
                    <td>Device Name: </td>
                    <td>${MacAddress}</td>
                </tr>
                <tr>
                    <td>UUID:</td>
                    <td>${ManufacturerUUID}</td>
                </tr>
                <tr>
                    <td>Major: ${Major}</td>
                    <td>Minor: ${Minor}</td>
                </tr>
                <tr>
                    <td>RSSI:</td>
                    <td>${Rssi}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>${IsConnected}</td>
                </tr>
            </table>
        </a>
    
</script>
<div data-role="drawer" id="debug-list-menu" style="width: 60%" data-title="Navigation" data-position="right" data-swipe-to-open=false>
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>
    <ul class="navmenu" data-role="listview">
        <li>Request all saved sensor event/data</li>
        <li>Get Firmware Detail</li>
        <li>Get current time</li>
        <li>Get Serial Number of Device</li>
        <li>Restart Device</li>
        <li>Reset device</li>
        <li>Turn sensor on</li>
        <li>Turn sensor off</li>
        <li>Read current sensor data</li>
        <li>Get event count</li>
        <li>Download image</li>
        <li>Take Picture</li>
        <li>Read Gyroscope</li>
        <li>Get latest n events</li>
        <li>Event/data from ID x to ID Y</li>
        <li>Erase all event data</li>
        <li>Sound Buzzer</li>
        <li id="setIntervalToRead">Set interval to read sensor periodically</li>
        <li id="setRealTime">Set real time clock</li>
        <li id="setGPSLocation">Set GPS location of device</li>
        <li id="setMajorMinor">Set Major/ Minor versoin of device</li>
        <li id="setSerialOfDevice">Set Serial# of device</li>
        <li id="setAdvertising">Set Advertising period</li>
        <li id="setSenorThreshold">Set sensor threshold</li>
        <li>Set standby mode on</li>
        <li>Set standby mode off</li>
        <li>Put device in DFU</li>
        <li id="changePassword">Change Password</li>
        <li id="setRSSI">Set RSSI for iBeacon Frame</li>
        <li>Read Configuration Parameter</li>
    </ul>
</div>
<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="deviceStatusTemplate">
    <div class="device-name-title">
        <table style="width:100%">
            <tr>
                <td>Device Name: </td>
                <td> FF:E9:G3:F8:S2</td>
            </tr>
            <tr>
                <td>UUID:</td>
                <td>335935937jsd9qw010323</td>
            </tr>
            <tr>
                <td>Major: 1</td>
                <td>Minor: 2</td>
            </tr>
            <tr>
                <td>RSSI:</td>
                <td>-23</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>Disconnect</td>
            </tr>
        </table>
    </div>
</script>