<div data-role="view" data-title="Settings" id="SettingsForm" data-layout="main" data-init="app.loginService.filterinit" data-model="app.loginService.viewModel">    
    <form action="" method="post" class="settings-button">       
        <label>
            <span>Production</span>
            <select name="production">
                <option value="production">Production</option>
                <option value="test">Test</option>
            </select>
        </label>
        <label>
            <span>Enable Notification</span>
            <select name="notification">
                <option value="enable">Enable</option>
                <option value="disable">Disable</option>
            </select>
        </label>
        <label>
            <span>Language</span>
            <select name="language">
                <option value="english">English</option>
                <option value="hindi">Hindi</option>
                <option value="hindi">Chinese</option>
            </select>
        </label>
        <label>
             <input type="checkbox" />
                Run As Service
        </label>
        <label class="button-label">           
            <table style="width:100%">
                <tr><td style="width:50%"><input type="button" id="settingsApplyBtn" class="button" value="Apply" /></td>
                    <td style="text-align:right"> <input type="button" id="settingsCancelBtn" class="buttonleft" value="Cancel" /></td></tr>
            </table>            
           
        </label>
    </form>
</div>